<div id="procedure-<%= id %>" class="card <%= stat %>">
	<div class="status"></div>

	<div class="content">
		<header>
			<div class="attachments">
				<%= attachments %>
			</div>
			<h5 class="patient-id">Patient ID: <%= patient_id %></h5>
		</header>
		<h3 class="name"><%= last %>, <%= first %></h3><br />
		<h5><span class="dob"><%= dob %></span><span class="gender"><%= gender %></span></h5><br />

		<h4 class="procedure-name">Procedure: <span><%= procedure_name %></span></h4><br />

		<div class="time-container" style="" class="progress">
			<div class="progress-container"><div class="progress"></div></div>
		</div>
		<p class="small time-left" style="">0 min left</p>
		<p class="small">Currently: Collecting images</p><br />
		<p class="report-status">Report Status: <span><%= report_status %></span></p>

		<!--
		<p class="patient-risks"><%= patient_risks %></p>
		<%= procedure_name %>
		<%= priority %>
		<%= procedure_class %>

		<%= procedure_status %>
		-->

	</div>

		<footer>
			<a class="coc" href="javascript:;"></a>
			<p>Hospital : <%= hospital_name %></p>
			<p>Referring Physician: <%= referring_physician %></p>
		</footer>
</div>