<div id="exam-<%= id %>" class="card <%= stat %>">


	<div class="content">

		<div class="exam">
			<div class="attachments <% if (attachments === 0) { %>none<% } %>" alt="There <% if (attachments === 1) { %>is 1 attachment<% } else { %>are <%= attachments %> attachments<% } %>"></div>
			<h3><span><%= exam_name %></span></h3>
			<p><%= clinical_indication %></p>
			<p class="accession-number"><span>Accession #:</span> <%= accession_id %></p>
			<p class="patient-status"><span>Patient Status:</span> In-patient</p>
		</div>
		<div class="patient">
			<h3 class="name"><%= last %>, <%= first %></h3>
			<p class="patient-id"><span>Patient ID:</span><%= patient_id %></p>
			<p class="dob"><span>Date of Birth:</span><%= dob %></p>
			<p class="gender"><span>Gender:</span><%= gender %></p>
		</div>

		<footer>
			<a class="camera <% if (! ready) { %>not-ready<% } %>" alt="<% if (ready) { %>All images are completed<% } else { %>Images in progress<% } %>"></a>

			<a class="lock <% if (lock) { %>on<% } %>" alt="<% if (lock) { %><%= lock %> is reading this case.<% } else { %>Nobody is reporting<% } %>"><% if (lock) { %><%= lock %><% } %></a>
			<a href="javascript:;" class="queue"><img src="images/queue.png" /></a>

		</footer>
</div>