
<table class="grid-worklist">

	<thead class="grid-header grid-row">
		<tr>
			<td class="info">
				<h2>Exam Type</h2>
				<!-- <select class="exam-type">
					<option>exam Type</option>
					<option>Abdomen</option>
					<option>Leg</option>
					<option>Head</option>
				</select> -->
				<p>Exam end time</p>
			</td>
			<td class="reason">
				<p>Exam detailed description</p>
			</td>
			<td class="patient-status">
				<p>Accession Number</p>
				<p>Patient Type</p>

			</td>
			<td class="patient" style="width: 20%">
				<h3>Patient Name</h3><br />
				<p>Patient ID</p>
				<p>Date of Birth</p>
				<p>Gender</p>


			</td>
			<td class="referring">
				<p class="physician">Referring Physician</p>
				<p class="hospital">Referring Location</p>
			</td>
			<td class="image-status">
				<p class="images-completion-status camera">Images Completion Status</p>
				<p class="reporting-status lock">Reporting Status</p>
			</td>
			<td class="queue-action">

			</td>
		</tr>
	</thead>
	<tbody class="grid-contents"></tbody>
</table>