
<tr id="exam-<%= id %>" class="grid-row">



		<td class="info">
			<% if (draft === true) { %><div class="paper-curl" alt="This is a draft."></div><% } %>
			<% if (stat =='stat') { %>
			<div class="stat"><div class="stat-shade"></div><strong>STAT: </strong><span class="end-time" rel="<%= end_timestamp %>"></span> </div>
			<% } %>
			<!-- <p><%= end_time %></p> -->
			<h2><%= exam_name %></h2>

			<p>5 mins ago</p>
		</td>
		<td class="reason">
			<p><%= clinical_indication %></p>
		</td>
		<td class="patient-status">
			<p><%= accession_id %></p>
			<p>In-patient</p>
		</td>
		<td class="patient">

			<h3><%= first %> <%= last %></h3>
			<p>
				<span><%= patient_id %></span>
				<span><%= dob %></span>
				<span><%= gender %></span>
			</p>

		</td>
		<td class="referring">
			<p class="physician"><%= referring_physician %></p>
			<p class="hospital"><%= hospital_name %></p>
		</td>
		<td class="image-status">

			<p class="images-completion-status camera <% if (! ready) { %>not-ready<% } %>" alt="<% if (ready) { %>All images are completed<% } else { %>Images in progress<% } %>"><% if (ready) { %>All images are completed<% } else { %>Images in progress<% } %></p>
			<!-- <p class="reporting-status lock on">Dr. Rebecca Whatley</p> -->
			<p class="reporting-status lock <% if (lock) { %>on<% } %>" alt="<% if (lock) { %><%= lock %><% } else { %>Nobody is reporting<% } %>"><% if (lock) { %><%= lock%><% } else { %>Nobody is reporting<% } %></p>

		</td>
		<td class="queue-action">
			<a href="javascript:;" class="queue"><img src="images/queue.png" /></a>
		</td>
</tr>


