
<table class="grid-worklist">

	<thead class="grid-header grid-row">
		<tr>
			<td class="info">
				<h2>Procedure Type</h2>
				<!-- <select class="procedure-type">
					<option>Procedure Type</option>
					<option>Abdomen</option>
					<option>Leg</option>
					<option>Head</option>
				</select> -->
				<p>Procedure end time</p>
			</td>
			<td class="reason">
				<p>Procedure detailed description</p>
			</td>
			<td class="patient-status">
				<p>Accession Number</p>
				<p>Patient Status</p>
			</td>
			<td class="patient">
				<h3>Patient Name</h3>
				<p>
					<span>Patient ID</span>
					<span>Date of Birth</span>
					<span>Gender</span>
				</p>

			</td>
			<td class="referring">
				<p class="physician">Referring Physician</p>
				<p class="hospital">Referring Hospital</p>
			</td>
			<td class="image-status">
				<p class="images-completion-status camera">Images Completion Status</p>
				<p class="reporting-status lock">Reporting Status</p>
			</td>
			<td class="queue-action">

			</td>
		</tr>
	</thead>
	<tbody class="grid-contents"></tbody>
</table>