<div class="filters col">
	<div class="filters-inner" style="background: black;">

		<h3>Worklist Filters</h3><br /><br />
		<h4>Worklist filtered by:</h4>
		<a href="javascript:;" class="button add" >+</a>
		<h4>Worklist sorted by:</h4>
		<a href="javascript:;" class="button add" >+</a>
	</div>
</div>
<h1>Worklist: CT<a href="javascript:;"><img src="images/arrow.png" /></a></h1>
<div class="buttons">
		<a href="javascript:;" class="preferences button">Preferences</a>

		<div class="layouts">

			<!-- <input type="button" value="Table" class="table" /> -->
			<a href="javascript:;" value="Grid" class="grid button" rel="grid"></a>
			<a href="javascript:;" value="Card" class="card button" rel="card"></a>



		</div>
	</div>
<div class="container col scroll-y">






	<div class="list"></div>
</div>
