<div class="clear"></div>
<div class="filters">
	<input type="text" />
	<h3>Filter</h3>
	<select>
		<option>Filter by CT</option>
	</select>
	<select>
		<option>Filter by Urgency</option>
	</select>
	<select>
		<option>Sort by Recency</option>
	</select>
	<input type="button" value="Apply Filters" />
</div>
<div class="container">

	<div class="layouts">
		Worklist Layout:
		<input type="button" value="Table" class="table" />
		<input type="button" value="Card" class="card" />
		<input type="button" value="Auto" class="auto" />
	</div>
	<h1>Worklist: CT</h1>


	<div class="list"></div>
</div>
