<table id="table-worklist">
	<thead>
		<tr class="search-fields">

			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>
			<th><div class="input"><input name="test" type="text" /></div></th>


		</tr>
		<tr>
			<th>PACS Images<a href="javascript:;" class="sort"></a></th>
			<th>Scanned Document<a href="javascript:;" class="sort"></a></th>
			<th>Last Name<a href="javascript:;" class="sort"></a></th>
			<th>First Name<a href="javascript:;" class="sort"></a></th>
			<th>Patient DOB<a href="javascript:;" class="sort"></a></th>
			<th>Gender<a href="javascript:;" class="sort"></a></th>
			<th>Patient ID<a href="javascript:;" class="sort"></a></th>
			<th>Patient Risks<a href="javascript:;" class="sort"></a></th>
			<th>exam Name<a href="javascript:;" class="sort"></a></th>
			<th>Priority<a href="javascript:;" class="sort"></a></th>
			<th>Class<a href="javascript:;" class="sort"></a></th>
			<th>Report Status<a href="javascript:;" class="sort"></a></th>
			<th>exam Status<a href="javascript:;" class="sort"></a></th>
			<th>Referring Physician<a href="javascript:;" class="sort"></a></th>
			<th>Hospital Name<a href="javascript:;" class="sort"></a></th>

		</tr>
		</thead>
	<tbody></tbody>
</table>