<table>
	<thead>
		<tr class="search-fields">
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>
			<td><div class="input"><input type="text" /></div></td>

		</tr>
		<tr>
			<td>PACS Images<a href="javascript:;" class="sort"></a></td>
			<td>Scanned Document<a href="javascript:;" class="sort"></a></td>
			<td>Last Name<a href="javascript:;" class="sort"></a></td>
			<td>First Name<a href="javascript:;" class="sort"></a></td>
			<td>Patient DOB<a href="javascript:;" class="sort"></a></td>
			<td>Gender<a href="javascript:;" class="sort"></a></td>
			<td>Patient ID<a href="javascript:;" class="sort"></a></td>
			<td>Patient Risks<a href="javascript:;" class="sort"></a></td>
			<td>Procedure Name<a href="javascript:;" class="sort"></a></td>
			<td>Priority<a href="javascript:;" class="sort"></a></td>
			<td>Class<a href="javascript:;" class="sort"></a></td>
			<td>Report Status<a href="javascript:;" class="sort"></a></td>
			<td>Procedure Status<a href="javascript:;" class="sort"></a></td>
			<td>Referring Physician<a href="javascript:;" class="sort"></a></td>
			<td>Hospital Name<a href="javascript:;" class="sort"></a></td>

		</tr>
		</thead>
	<tbody></tbody>
</table>
