@text : #ebebeb;
@background: #1a1a1a;
@gray : #444545;
@gray-darker: #363737;
@blue : #3e6a9e;
@dark-blue: #26405c;
@darker-blue: #1e324a;
@red : #e02f30;
@red-shade: #a12f30;
@notification : #f88d47;
@unknown-blue: #32a6d6;
@pane: #2f2f2f;
@border-radius: 5px;
@green: #6bb753;
@green-border: #569343;
@dark-text: #7f7f7f;
@grid-text: #a2a2a2;
@orange: #f88d47;

body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	color: #FFF;

	font-family: "Titillium", sans-serif;
	font-family: "Helvetica Neue", sans-serif;

}
body {
	overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
	font-family: Lato, sans-serif;
}
table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid #999;
	font-weight: normal;
	font-size: 12px;

}
textarea {
	border: none;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	background: #FFF;
	border-radius: @border-radius;
	margin: 20px 0;


	transition: 		all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
}
textarea:focus {
	box-shadow: inset 0 0 0px #000;
}
::selection {
	background: transparent;
	}
::-moz-selection {
	background: transparent;
}

/*** Set up absolute positioning ***/
.row, .col { overflow: hidden; position: absolute;}
.row { left: 0; right: 0;}
.col { top: 0; bottom: 0;}
.scroll-x { overflow-x: auto;}
.scroll-y { overflow-y: auto;}
.scroll-x, .scroll-y { -webkit-overflow-scrolling: touch; }

.header.row { height: 39px; top: 0;}
.body.row { top: 41px; bottom: 30px;}
.footer.row { height: 30px; bottom: 0; }

.left.col { left: 0; right: 50%;}
.right.col { left: 50%; right: 100%;}

.footer {
	background: black;
	font-size: 12px;
	line-height: 30px;
	padding-left: 20px;
}
body .loading {
	background: url(../images/loading.gif) no-repeat center center;
}


.button (@hue, @saturation, @lightness) {
	text-decoration: none;
	border-radius: @border-radius;
	font-size: 12px;

	color: white;

	cursor: pointer;
	border: none;
	padding: 20px 40px;
	/*
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.0));
	background: -moz-linear-gradient(	top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.0));
	background: -ms-linear-gradient(	top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.0));
	background: -o-linear-gradient(		top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.0));
	background: linear-gradient(		top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.0));

	background-color: hsl(@hue, percentage(@saturation), percentage(@lightness));

	border: 1px solid hsl(@hue, percentage(@saturation+-0.13), percentage(@lightness+-0.1));

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 	inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: 		inset 0 1px 0 rgba(255, 255, 255, 0.2);

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	*/


}

/*
input[type=button].selected, .button.selected, input[type=button]:hover, .button:hover {
	background: #555;
	border: 1px solid #888;
	transition: 		all 0.3s;
	-webkit-transition: all 0.3s;
}

*/
input[type=button], .button {
	.button(214,0.27,0.26);
	padding: 5px 15px;
}

input[type=button], .button:hover {
	.button(214,0.27,0.36);
	transition: 		all 0.1s;
	-webkit-transition: all 0.1s; /* Safari */
}
input[type=button]:active, .button:active, input[type=button].selected, .button.selected {
	.button(214,0.24,0.22);
}

/* Start of "Micro clearfix" */

.three-col { zoom: 1; }
.three-col:before,
.three-col:after { content: ""; display: table; }
.three-col:after { clear: both; }

.three-col .col {
	width: 31%;
	float: left;
	margin-right: 3%;
	zoom: 1;
	display: inline;
}
.three-col .col:last-child {
	margin-right: 0;

}
.glasswing {
	background: @background;
	height: 100%;
	overflow: hidden;
	color: @text;

}
.overlay {

}
.overlay, .modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 40;

}
.modal-overlay {
	background: #000;
	opacity: 0.5;
	position: fixed;
	cursor: pointer;
	z-index: 13;
}
.piece {

	position: absolute;
	background: #000;
	opacity: 0.0;
	z-index: 40;
}


@modal_color : #ebebeb;

.modal {
	position: absolute;

/*
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
	background: -moz-linear-gradient(	top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
	background: -ms-linear-gradient(	top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
	background: -o-linear-gradient(		top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
	background: linear-gradient(		top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
*/
	background-color: @modal_color;
	// background: white;

	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	border-radius: 5px;

	color: black;
	z-index: 15;
	.close {
		position: absolute;
		right: 6px;
		top: 6px;
		width: 16px;
		height: 16px;
		background: url('../images/close.png') no-repeat;
	}
}
body .modal .modal-content {

	min-width: 30px;
	padding: 15px;
	// border: 1px solid #eee;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	margin-left: 0;
	p {
		text-align: left;
		margin: 0;
	}
}

.arrow {
	width: 0;
	height: 0;
	border-left: 	7px solid transparent;
	border-right: 	7px solid transparent;
	border-bottom: 	10px solid @modal_color;
	margin-top: 	-9px;

	left: 10px;

	position: absolute;
}
.top .arrow {
	bottom: -9px;
	margin-top: 0;
	border-bottom: none;
	border-top: 	10px solid @modal_color;
}

/*
.callout {
	background: #83823a;
	color: white;
	text-shadow: 0 -1px 0 #3e3e1d;
}
*/
body .glasswing .hint {
	color: @dark-text;
	font-style: italic;
}

.highlight.modal {
    z-index: 41;
    .content {

        padding: 10px;
        font-size: 12px;
    }
}