.tabs {
	border-bottom: 1px solid black;
	font-style: Lato;
}
.tab {
	list-style: none;

	background: #111;
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;
	border-right: 2px groove #333;
}
.tab.selected {
	background: #222;
}
.tab a {
	color: #DDD;
	text-decoration: none;
}