@blue : #32a6d6;

.procedure {
	padding: 20px;
}
.pane {
	background: #333;
	padding: 20px;
	border-bottom: 1px solid #222;
	border-top: 1px solid #444;
	margin-bottom: 20px;
	.pane {
		border-top: 1px solid #333;
	    background: #222;
	    border-bottom: 1px solid #111;
	}
}

h4 {
	font-size: 18px;
}
/*
.pane.dashboard {
	float: left;

	min-width: 200px;
	width: 30%;
	min-height: 100px;
}
.pane.report {
	min-height: 100px;
	float: right;
	min-width: 600px;
	width: 61%;
}
*/


.report {
	min-height: 100%;


	.procedure { zoom: 1; }
	.procedure:before,
	.procedure:after { content: ""; display: table; }
	.procedure:after { clear: both; }



	textarea {
		min-height: 800px;
		width: 100%;
		padding: 5px;
		font-size: 14px;
		background: #555;
		margin: 20px 0;
		border: 1px solid #333;
		box-shadow: inset 0 0 5px #000;

		transition: 		all 0.3s;
		-webkit-transition: all 0.3s; /* Safari */
	}
	textarea:focus {
		box-shadow: inset 0 0 0px #000;
	}
	.actions {
		text-align: right;
	}
	.left, .right {
		zoom: 1;
		display: inline;
	}
	.left {
		float: left;
		width: 70%;

	}
	.right {
		float: right;
		width: 30%;
		.content {
			margin-left: 5%;
		}
	}
}


.timeline { zoom: 1; }
.timeline:before,
.timeline:after { content: ""; display: table; }
.timeline:after { clear: both; }



.timeline {

	position: relative;

	h2 {
		margin-bottom: 20px;
	}

	.container {
		padding: 20px 0;
	}
	.bar-container, .priors {
		zoom: 1;
		display: inline;
	}
	.bar-container, .priors {
		height: calc(~"100% - 240px");
		height: 100%;
	}
	.bar-container {

		width: 14px;
		float: left;
		position: relative;
		.slider {
			background: blue;
			opacity: 0.4;
			width: 4px;
			display: none;
			height: 20px;
			z-index: 10;
			position: absolute;
		}
	}
	.prior.hover {
		background: @blue;
	}
	.bar {
		z-index: 12;
		background: white;
		border-radius: 5px;
		height: 100%;
		border-left: 4px solid #777;
		position: relative;
		.prior.hover {
			background: @blue;
		}
		.prior {
			border-radius: 10px;
			height: 6px;
			width: 6px;
			background: #999;
			position: absolute;
			left: 50%;
			margin-left: -3px;
			margin-top: -6px;
			cursor: pointer;
		}
	}
	.priors {
		width: 360px;
		float: left;
		overflow: scroll;
		background: #222;
		z-index: 11;

		.prior {
			border: 1px solid #333;
			padding: 20px;
			cursor: pointer;
		}
		h4 {
			text-transform: uppercase;
		}
		p {
			color: #777;
			margin: 0;
		}

	}
}
.prior-report {
	margin-left: 20px;
}

.coc {
	background: #444 url(../images/coc.png) no-repeat 50% 50%;

	cursor: pointer;
	padding: 20px 0;
	border-radius: 4px;

	border: 1px solid #111;
	box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	display: block;
}
.follow {
	float: right;
	width: 106px;
	.helper {
		font-size: 11px;
		color: #999;
		opacity: 0;
		text-align: right;
		clear: both;
	}
}
.follow-button {

	float: right;

	clear: both;
	position: relative;
	width: 35px;
	text-align: right;
}

.check {
	background: url('../images/check.png') no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 6px;
}