.procedure {
	padding: 20px;
}
.pane {
	background: #333;
	padding: 20px;
	border-bottom: 1px solid #222;
	border-top: 1px solid #444;
	margin-bottom: 20px;
}
/*
.pane.dashboard {
	float: left;

	min-width: 200px;
	width: 30%;
	min-height: 100px;
}
.pane.report {
	min-height: 100px;
	float: right;
	min-width: 600px;
	width: 61%;
}
*/

.procedure { zoom: 1; }
.procedure:before,
.procedure:after { content: ""; display: table; }
.procedure:after { clear: both; }


.report {
	height: 100%;


	textarea {
		min-height: 800px;
		width: 100%;
		padding: 5px;
		font-size: 14px;
		background: #555;
		margin: 20px 0;
		border: 1px solid #333;
		box-shadow: inset 0 0 5px #000;

		transition: 		all 0.3s;
		-webkit-transition: all 0.3s; /* Safari */
	}
	textarea:focus {
		box-shadow: inset 0 0 0px #000;
	}
	.actions {
		text-align: right;
	}
	.left, .right {
		zoom: 1;
		display: inline;
	}
	.left {
		float: left;
		width: 70%;
		height: calc(~"100% - 60px");
		overflow: scroll;
	}
	.right {
		float: right;
		width: 27%;
		padding-left: 3%;
	}
}



.timeline {

	position: relative;

	.container {
		padding: 20px 0;
	}
	.bar-container {
		height: calc(~"100% - 180px");
		margin-top: 20px;
	}
	.bar {
		background: white;
		border-radius: 5px;
		height: 100%;
		width: 14px;
		border-left: 4px solid #777;
		position: relative;
		.prior {
			border-radius: 10px;
			height: 6px;
			width: 6px;
			background: #999;
			position: absolute;
			left: 50%;
			margin-left: -3px;
			margin-top: -6px;
		}
	}
}