@text : #ebebeb;
@background: #1a1a1a;
@gray : #444545;
@gray-darker: #363737;
@blue : #3e6a9e;
@dark-blue: #26405c;
@darker-blue: #1e324a;
@red : #e02f30;
@red-shade: #a12f30;
@notification : #f88d47;
@unknown-blue: #32a6d6;
@pane: #2f2f2f;
@border-radius: 5px;
@green: #6bb753;
@green-border: #569343;
@dark-text: #7f7f7f;
@grid-text: #a2a2a2;
@orange: #f88d47;

.exam {
	padding: 20px;
}
.pane {

	padding: 20px;

	margin-bottom: 20px;
	.pane {
		border-top: 1px solid #333;
	    background: #222;
	    border-bottom: 1px solid #111;
	}
}

h4 {
	font-size: 18px;
}
a {
	color: white;
	text-shadow: none;
}
/*
.pane.dashboard {
	float: left;

	min-width: 200px;
	width: 30%;
	min-height: 100px;
}
.pane.report {
	min-height: 100px;
	float: right;
	min-width: 600px;
	width: 61%;
}
*/


.report {

	min-height: 100%;


	.exam { zoom: 1; }
	.exam:before,
	.exam:after { content: ""; display: table; }
	.exam:after { clear: both; }



	@current-report: 500px;
	@patient-history: 320px;
	@margin: 20px;
	@padding: 40px;


	.buttons {
		position: absolute;
		right: 0;
		top: 0;

		height: 32px;
		a {
			background-position: center center;
			background-repeat: no-repeat;
			display: block;
			height: 100%;
			width: 32px;
			position: absolute;
			top: 0;
			right: 0;
		}
		a.attachments {
			right: 0;
			background-image: url(../images/attachments-white.png);
			line-height: 41px;
		}
		a.pacs {
			right: 36px;
			background-image: url(../images/camera.png);

		}
	}

	.images {
		background: @darker-blue;
		float: right;
		border-radius: @border-radius;
		padding: 20px 10px;
		font-weight: bold;
		img {
			display: block;
			margin: 0 auto;
		}
	}


	.scanned-documents-dropdown {
		list-style: none;
		background: white; position: absolute; border-radius: @border-radius;
		z-index: 1;
		padding: 0;
		margin: 0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		display: none;
		right: 0;
		top: 30px;
		z-index: 25;
		li {
			border-bottom: 1px solid black;
			padding: 10px 40px 10px 20px;
			background: url(../images/affordance.png) no-repeat right center;
			a {
				margin: 0;
				padding: 0;
				color: black;
				position: relative;
				display: inline-block;
				height: auto;
				width: auto;
				text-decoration: none;
			}

		}
		li:last-child {
			border-bottom: none;
		}
	}



	.current-report {
		overflow: visible; left: @padding; width: @current-report+-@padding;

		@patients-height : 110px;

		@actions-height: 35px;
		@submit-height: 66px;
		@margin: 10px;



		.patient {
			.col {
				left: 0;
				right: 50%;
			}
			.col:last-child {
				left: 50%;
				right: 0;
			}
			h2 {
				margin: 0 0 10px 0;
			}
			p {
				margin: 7px 0;
				font-size: 13px;
			}
			span {
				width: 130px;
				opacity: 0.5;
				display: inline-block;
			}
			height: @patients-height;
		}

		.currents {
			overflow: hidden;
			top: @patients-height;
			border-radius: @border-radius;
			.pane:first-child .header {
				border-top: none;
			}

			.pane {
				background: #2c425c;
				border: none;
				padding: 0;
				margin-bottom: 0;
				.header {
					background: @blue;
					border-top: 2px solid #6388b1;
					border-bottom: none;
					padding: 10px 20px 10px 26px;
					font-size: 14px;
					position: relative;
					color: #99b3cf;

					.arrow {
						border: none;
						background: url(../images/arrow.png) no-repeat center center;
						width: 16px;
						height: 16px;
						top: 50%;
						margin-top: -8px;
						left: 6px;
						cursor: pointer;
					}

					h2 {
						font-size: 14px;

						span {
							color: white;
							font-weight: bold;
							margin-right: 8px;
						}

					}


				}


				.content {
					border-top: 2px solid #29384e;
					padding: 10px 10px;
					color: #d2d8de;
					.accession-number {
						color: #909eac;
						margin: 0;
					}
					.procedure-information {
						background: url(../images/procedure-information.png) no-repeat left center;
						padding-left: 26px;
						margin: 5px 0 5px 0;
					}
					table {
						width: 100%;
						thead td {
							font-weight: bold;
						}
						td {
							border: none;
							color: #d2d8de;
							font-size: 14px;
						}

					}
				}
				.footer {
					background: @darker-blue;
					padding: 5px 40px;
					color: white;
					font-weight: bold;
					font-size: 14px;
					min-height: 30px;
					position: relative;
					a {
						text-decoration: none;

						display: inline-block;
						padding-left: 24px;
					}
					.exam-information {
						width: 49%;
						background: url(../images/exam-information.png) no-repeat left center;
					}
					.scanned-documents {
						background: url(../images/scanned-documents.png) no-repeat left center;
						position: absolute;
						left: 50%;
						top: 5px;
					}

				}
			}
			padding-bottom: @actions-height;
			.actions {
				position: absolute;

				bottom: 0px;
				height: @actions-height;
				padding-bottom: 0px;
				width: 100%;
				background: #313131;
				a {
					color: @dark-text;
					position: absolute;
					display: block;
					text-decoration: none;
					padding: 5px 0;
					font-size: 12px;
					margin-top: 5px;
				}

				.community-of-caregivers {

					padding-left: 24px;
					background: url(../images/coc.png) no-repeat left center;
					right: 0;
					margin-right: 12px;
				}
				.folder {
					background: url(../images/folder.png) no-repeat left center;
					left: 37%;
					width: 30%;
					padding-left: 24px;

					transition: 		all 0.3s;
					-webkit-transition: all 0.3s; /* Safari */
				}
				.follow {
					left: 0;
					width: 33%;

					padding-left: 24px;
					margin-left: 12px;
					background: url(../images/notification.png) no-repeat left center;
				}
				.follow.active {
					background: url(../images/notification_selected.png) no-repeat left center;
					color: white;
				}
			}


		}
		.dictation {
			top: 360px;
			bottom: 0;

			overflow: hidden;
			.row:first-child {
				top: 0;
				bottom: @submit-height+25px;
				border-radius: @border-radius;
			}

			margin-bottom: 0;
			.jazz {
				position: absolute;
				top: 0;
				background: #d3d3d3 url(../images/textarea-jazz.png) no-repeat 10px 6px;
				width: 100%;
				height: 30px;
				z-index: 1;
			}
			textarea {

				position: absolute;
				top: 10px;
				bottom: 10px;
				margin: 0;
				padding: 30px 10px 10px 10px;
			}

		}
		.submit {
			text-align: right;
			bottom: 0;
			height: @submit-height;
			.autosave {
				position: absolute;
				left: 0;
				margin: 0;
				color: @dark-text;

				cursor: pointer;
				display: none;
			}
			input[type=button] {
				background: @green;
				font-size: 14px;
				box-shadow: 0 5px 0 @green-border;
			}
			input[type=button]:hover {
				margin-top: 5px;
				box-shadow: 0 3px 0 @green-border;
			}
			input[type=button]:active {
				margin-top: 8px;
				box-shadow: 0 0px 0 @green-border;
			}
		}


	}
	.dynamic-content {
		left: @current-report+@margin; right: @patient-history + @margin;
		border: 2px dashed #333;
		background: #111;
		.container {
			height: 100%;
		}

		.pane {
			overflow: hidden;

			font-size: 14px;
			background: black;
			.content {
				background: #414141;

			}
			table td {
				border: none;
				font-size: 14px;
				span {
					color: @dark-text;
				}
			}
			table tr td:first-child {
				padding-right: 10px;
				min-width: 120px;
			}
			.header {
				background: #343434;
				padding: 10px 20px;
				font-size: 14px;
				color: @dark-text;
				h2 {
					span {
						color: white;
						margin-right: 8px;
					}
					display: inline-block;
					position: absolute;
					font-size: 14px;
				}
				.right {
					float: right;
					margin: 0;
				}
			}
			.accession-number {
				color: @dark-text;
				margin-bottom: 10px;
			}
			p {
				margin: 0;
			}

			strong {
				display: block;
				color: white;
				margin-bottom: 10px;
			}
			.impression {
				margin: 10px 0;
			}
			.images {
				background: #343434;
			}

		}
		.pane.scanned-document {
			.content {
				padding: 0;
				background: black;
				overflow: hidden;
			}
			img {
				min-width: 100%;
			}
			.header {
				background: @blue;
				h2 {
					color: white;

				}

			}
		}
	}
	.patient-history {
		position: absolute; width: @patient-history+-@padding; right: @padding;
	}

	.exam > * {
		zoom: 1;
		display: inline;
		top: @margin; bottom: @margin;
		overflow: visible;
	}


	.exam-date {
		float: right;
		margin: 0;
	}
}


.coc {
	background: #444 url(../images/coc.png) no-repeat 50% 50%;

	cursor: pointer;
	padding: 20px 0;
	border-radius: 4px;

	border: 1px solid #111;
	box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	display: block;
}
.follow {
	float: right;
	width: 106px;
	.helper {
		font-size: 11px;
		color: #999;
		opacity: 0;
		text-align: right;
		clear: both;
	}
}
.follow-button {

	float: right;

	clear: both;
	position: relative;
	width: 35px;
	text-align: right;
	.text {
		float: right;
		display: block;
		overflow: hidden;
	}
}

.check {
	background: url(../images/check.png) no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 6px;
}







.draggable {

	right: 0;
	z-index: 40;

}
.draggable.clone {
	position: absolute;
}
.droppable {
	position: absolute;
	.border {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.droppable {
	height: 100%;
	width: 100%;
	top: 0;

}
.droppable.hover .border {
	border: 10px solid @blue;

}
@container-padding : 4px;
@container-header-height : 40px;
.container {
	.pane {
		width: 100%;
		position: absolute;
		height: 100%;
		margin: 0;
		padding: 0;
		cursor: pointer;
		.header {
			top: 0;
			bottom: @container-header-height;
			position: absolute;
			left: 0;
			right: 0;
		}
		.content {
			padding: 20px;
			left: 0;
			right: 0;
			position: absolute;
			top: @container-header-height;

			overflow: scroll;
			bottom: 0;
		}

	}
	.left {
		.content, .header {
			left: 0;
			right: @container-padding;
		}
		.close {
			right: @container-padding;
		}
	}
	.right {
		.content, .header {
			right: 0;
			left: @container-padding;
		}
	}
	.top {
		.content {
			top: @container-header-height;
			bottom: @container-padding;
		}
	}
	.bottom {
		.header {
			top: @container-padding;
			bottom: @container-padding + @container-header-height;
		}
		.content {
			top: @container-padding + @container-header-height;
			bottom: 0;
		}
	}


}
.close, .magnify {
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	cursor: pointer;
	z-index: 30;
	top: 5px;
}
.close {
	right: 4px;
	background: url(../images/close.png) no-repeat center center;
}
.magnify {
	right: 36px;
	background: url(../images/zoom.png) no-repeat center center;
}
.full .magnify {

}




@overlay-width: 400px;
.follow-overlay {
	position: absolute;
	top: 40px;
	width: @overlay-width;
	left: 50%;
	margin-left: -(@overlay-width / 2);
	z-index: 20;
	text-align: center;
	background: #6bb753 url(../images/follow-check.png) no-repeat 20px center;
	padding: 10px 50px;
	color: white;

}



.report.in-folder .current-report .currents .actions .folder {
	background-image: url(../images/folder_on.png);
	color: white;

}