@text : #ebebeb;
@background: #1a1a1a;
@gray : #444545;
@gray-darker: #363737;
@blue : #3e6a9e;
@dark-blue: #26405c;
@darker-blue: #1e324a;
@red : #e02f30;
@red-shade: #a12f30;
@notification : #f88d47;
@unknown-blue: #32a6d6;
@pane: #2f2f2f;
@border-radius: 5px;
@green: #6bb753;
@green-border: #569343;
@dark-text: #7f7f7f;
@grid-text: #a2a2a2;
@orange: #f88d47;

	.timeline-buttons {
		a {

			background: @gray;
			color: @dark-text;
			text-decoration: none;
			width: 50%;
			float: left;
			display: inline-block;
			position: relative;

			font-size: 16px;
			font-family: Lato;
			text-align: center;
			span {
				display: block;

				padding: 20px 10px;
				min-height: 32px;
				small {
					display: block;
					font-size: 11px;
				}
			}
		}
		a:first-child {
			border-radius: @border-radius 0 0 @border-radius;
		}
		a:last-child {
			border-radius: 0 @border-radius @border-radius 0;
		}
		a.selected {
			background: @gray-darker;
			color: white;
		}
	}
	.timeline-container {
		position: absolute;
		bottom: 0;
		top: 160px;
		width: 100%;
	}
	.timeline {
		top: 0;
		bottom: 0;
		overflow: visible;
		position: absolute;
	}


.timeline {
	@bar-width: 32px;

	h2 {
		margin-bottom: 20px;
	}

	.container {
		padding: 0 0;
	}
	.bar-container {

		width: @bar-width;
		height: 100%;

		position: absolute;
		.slider {
			background: #222323;
			opacity: 1;
			width: 100%;
			display: none;
			height: 20px;
			z-index: 9;
			position: absolute;
		}
	}
	.bar {
		z-index: 12;
		background: black;
		border-radius: @border-radius;
		height: 100%;
		overflow: hidden;

		position: relative;
		.prior.hover {
			box-shadow: 0 0 3px rgba(0,0,0,0.5);
		}
		@prior-size : 8px;
		.prior {
			border-radius: 10px;
			background: white;
			opacity: 0.5;
			position: absolute;
			left: 50%;

			height: @prior-size;
			width: @prior-size;
			margin-left: -(@prior-size/2);
			margin-top: -@prior-size;
			cursor: pointer;
			z-index: 10;


		}
		.prior.relevant {

			height: @prior-size*2;
			width: @prior-size*2;
			margin-left: -(@prior-size);
			margin-top: -@prior-size*2;

		}
	}
	.priors {
		position: absolute;
		left: @bar-width+10px;
		right: 0;
		height: 100%;
		z-index: 11;
		overflow-y: auto;
		border-radius: @border-radius;

		.prior {
			margin-bottom: 2px;
			padding: 15px 20px 15px 15px;

			cursor: pointer;
			background: @gray url(../images/affordance.png) no-repeat right center;
			.content {
				max-height: 54px;
				overflow: hidden;
			}
		}
		.prior:last-child {
			margin-bottom: 0;
		}
		.relevant {

		}
		h4 {
			color: @dark-text;
			font-size: 12px;
			span {
				color: white;
				margin-right: 5px;
			}
		}
		p {
			font-size: 12px;
			margin: 0;
		}

	}
}


.prior.clone {


	padding: 20px;
	cursor: pointer;
	background: @gray;
	font-size: 12px;
	.content {
		max-height: 54px;
		overflow: hidden;
	}
	h4, p {
		font-size: 12px;
		margin: 0;
	}
}
.year-max, .year-min {
	position: absolute;
	font-size: 12px;
	width: 100%;
	text-align: center;
}
.year-max {
	top: -30px;
}
.year-min {
	bottom: -30px;
}
