<div class="container">

	<h2>Patient History</h2>

	<div class="timeline-buttons">
		<a href="javascript:;" class="relevant-priors"><span>Relevant Priors<small>by Modality, Body parts</small></span></a>
		<a href="javascript:;" class="all-priors selected"><span>All Priors</span></a>
	</div>
	<div class="timeline-container">
		<div class="bar-container">

			<div class="bar">
				<div class="slider"></div>
			</div>
		</div><!-- bar-container -->
		<div class="priors">
			<div class="content"></div>
		</div><!-- priors -->
	</div><!-- timeline-container -->

</div>