<div class="buttons">
	<a class="scanned-documents attachments" alt="View attachments">2</a>

	<ul class="scanned-documents-dropdown">
		<li><a href="javascript:;" class="draggable">RequestForm.png</a></li>
		<li><a href="javascript:;" class="draggable">TechNotes.png</a></li>
	</ul>


	<a class="pacs" alt="View images"></a>
</div>
<p class="accession-number">Accession #: 3910</p>
<table>
	<tr class="reason"><td><span>Reason for exam:</span></td><td><%= indication %></td></tr>
	<tr class="technique"><td><span>Technique:</span></td><td> <%= exam %></td></tr>
	<tr class="comparisons"><td><span>Comparisons:</span></td><td> Plain films of right ankle from 11/14/2008</td></tr>

</table>





<p class="impression"><strong>Impression:</strong> <%= impression %></p>
<p><strong>Findings:</strong> <%= findings %></p>


<a class="community-of-caregivers" style="float: right;" href="javascript:;"><img src="images/coc.png" /></a>

<!--
	<p class="exam-date"><span>Fri Nov 09 2012 21:24:34 GMT-0500 (EST)</span></p>

	<div class="pane">
		<div class="three-col">
			<div class="col">
				<h4>MRI of the ankle</h4>

				<p>exam Type: xxx</p>
				<p>Other hospital records</p>
			</div>

			<div class="col">
				<a style="width: 100px; float: right;" class="coc" href="javascript:;"></a>
			</div>
		</div>

	</div>
	<p>Reason for exam: Fracture lorem ipsum Fracture lorem ipsum Fracture lorem ipsum Fracture lorem ipsum Fracture lorem ipsum Fracture lorem ipsum Fracture lorem ipsum Fracture lorem ipsum </p>
	<p class="excerpt">
		History: Possible posterior tibial tendon tear<br /><br />

		Impression: High-grade partial thickness tear of the posterior tibialis tendon with associated tendinopathy and tenosynovitis, as described above.</p>
	<p class="report">MRI of the ankle<br />
<br />
History: Possible posterior tibial tendon tear<br />
<br />
Technique: Multiplanar, multisequence imaging of the ankle was performed without contrast<br />
<br />
Comparisons: Plain films of right ankle from 11/14/2008<br />
<br />
Findings: There is a high-grade partial thickness tear of the posterior tibialis tendon, including a longitudinal component that begins in the retromalleolar portion of the tendon. The distal tendon is thickened and has intermediate signal intensity. There is a mildly prominent medial osteophyte that projects posteriorly from the medial malleolus. There is thickening of the posterior tibial tendon sheath and increased fluid within the tendon sheath, consistent with tenosynovitis. The flexor hallucis longus and flexor digitorum longus tendons are intact. The anterior, lateral, and posterior tendon groups about the ankle appear normal. A small joint effusion is present.<br />
<br />
The anterior and posterior tibiofibular ligaments are intact. There is thickening of the anterior talofibular ligament, consistent with prior injury. The calcaneofibular ligament and posterior talofibular ligament are intact. There is no evidence for osteochondral lesion. The deltoid ligament complex is intact. The spring ligament appears normal. There is no evidence for soft tissue mass or cyst. Bone marrow signal is within normal limits throughout, aside from a small bone island in the posterior aspect of the distal tibia.<br />
<br />
impression: High-grade partial thickness tear of the posterior tibialis tendon with associated tendinopathy and tenosynovitis, as described above.</p>

	<a href="javascript:;" class="show-more">See entire report</a>
-->