<div id="home" class="full">
	<div class="content">
		<img src="images/logo-transparent.png" height="100px" />
		<h1>Glasswing's RIS</h1>
		<p>Our team has spent 8 months focused on redesigning GE's RIS experience from the ground up. We spent four months collecting contextual data and researching radiologists' workflow. From these, we've culled the most salient insights and developed a prototype demonstrating our collected visions.</p>
		<p>We've focused on providing five/six/seven high level concepts that demonstrate improved focus on efficiency and speeding up workflow. We've implemented numerous smaller improvements as well.</p>
		<p>Our prototype is fully functional and you can explore our prototype as is, or you can choose to take an interactive walkthrough where we'll explain each feature and our thinking behind it.</p>
		<div class="panes">
			<div class="pane inset">
				<h2>Explore</h2>
				<p>The prototype we've developed is fully functional and explorable.</p>
				<p><a val="explore" class="button">Explore</a></p>
			</div>
			<div class="pane inset">
				<h2>Interactive Walkthrough</h2>
				<p>We've developed a step by step guide to each feature.</p>
				<p><a val="walkthrough" class="button">Use Interactive Walkthrough</a></p>
			</div>
		</div>

	</div>

</div>
<div id="sidebar" class="full">
</div>
<iframe id="glasswing" src="prototype/index.html" frameborder="0"></iframe>