<div class="caregivers">
	<% for (var i=0;i<caregivers.length;i++) { %>
	<% caregiver = caregivers[i]; %>
	<div class="caregiver">
		<div class="image">
			<img src="images/avatar.png" />
			<%= caregiver.getName() %>
		</div>
		<div class="primary">
			<h4><%= caregiver.get('role') %></h4>
			<p>Last saw patient: 2 days ago</p>
			<p class="backup">Backup: <a href="javascript:;"><%= caregiver.get('backup') %></a></p>
		</div>
		<div class="secondary">
			<p class="phone">Phone: <%= caregiver.get('phone') %></p>
			<p class="pager">Pager: <%= caregiver.get('pager') %></p>
			<p class="email"><a href="javascript:;"><%= caregiver.get('email') %></a></p>
		</div>
		<a href="javascript:;" class="flag"></a>
		<br class="clear" />
	</div>
	<% } %>
	<br class="clear" />
</div>