<div class="caregivers">
	<% for (var i=0;i<caregivers.length;i++) { %>
	<% caregiver = caregivers[i]; %>
	<div class="caregiver">
		<div class="image">
			<img src="<%= caregiver.get('avatar') %>" />

		</div>

		<table>
			<tr><td colspan="4"><h4><strong><%= caregiver.getName() %>,</strong> <%= caregiver.get('role') %></h4></td></tr>
			<tr>
				<td class="last-saw"><span>Last saw patient: </span></td><td>3 hours ago</td>
				<td><span>Phone: </span></td><td><a class="phone" href="javascript:;"><%= caregiver.get('phone') %></a></td>
			</tr>
			<tr>
				<td><span>Backup Contact: </span></td><td><%= caregiver.get('backup') %></td>
				<td><span>Pager: </span></td><td><a class="pager" href="javascript:;"><%= caregiver.get('pager') %></a></td>
			</tr>
			<tr>
				<td><span>Note: </span></td><td>Night Shift</td>
				<td><span>Email: </span></td><td><a href="mailto:<%= caregiver.get('email') %>"><%= caregiver.get('email') %></a></td>
			</tr>
		</table>

		<a href="javascript:;" class="flag"></a>

	</div>
	<% } %>
</div>