<div id="exam-<%= id %>" class="exam">



	<div class="current-report col">
		<div class="content">
			<!-- <div class="dashboard">


				<p class="exam_class"><%= exam_class %></p>
				<br /><br />

				<div class="follow">
					<a href="javascript:;" class="follow-button button" ><div class="text"><span>Follow</span></div></a>
					<p class="helper">You will be alerted when the images finish coming in.</p>
				</div>
				<p class="risks">Risks: <%= patient_risks %></p>


			</div> -->
			<div class="patient row">
				<div class="col">
					<h2><%= name %></h2>
					<p class="patient-id"><span>Pt ID:</span><%= patient_id %></p>
					<p class="dob"><span>DOB:</span><%= dob %></p>
					<p class="gender"><span>Gender:</span><%= gender %></p>
					<!-- <p class="risk"><span>Risk:</span><%= patient_risks %></p> -->
				</div>
				<div class="col">
					<p class="reason-header"><span>Reason for exam:</span></p>
					<p class="reason"><%= clinical_indication %></p>
				</div>
			</div>
			<div class="currents row">
				<div class="accordion">
					<% _.each(procedures, function(procedure) { %>
					<div class="pane">
						<div class="header">
							<h2><span><%= procedure.name %></span> Today at 14:03</h2>
							<div class="buttons">
								<div class="scanned-documents">
									<a class="attachments">2</a>
									<ul class="scanned-documents-dropdown">
										<% _.each(procedure.scanned_documents, function(document) { %>
										<li><a href="javascript:;" class="draggable"><%= document %></a></li>
										<% }) %>
									</ul>
								</div>




								<a class="pacs <% if (! ready) { %>not-ready<% } %>" alt="View images"></a>
							</div>
						</div>
						<div class="content">
							<p class="accession-number">Accession #: 3910</p>
							<h3 class="procedure-information">Procedure Information</h3>
							<table>
								<thead>
									<tr>
										<td>Consumables Description</td>
										<td>Quantity</td>
										<td>ICE Code</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>MRI Contrast Media-Gadolinium</td>
										<td>10 ml</td>
										<td>K38.1</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- pane -->
					<% }) %>

				</div><!-- accordion -->

				<div class="actions">
					<a href="javascript:;" class="follow">Follow case</a>
					<a href="javascript:;" class="folder">Add to folder</a>
					<a href="javascript:;" class="community-of-caregivers">Related Caregivers</a>
					<a href="javascript:;" class="hamburger"></a>
				</div>
			</div><!-- currents -->



			<form class="row dictation">
				<div class="row">
					<% if (locked) { %><div class="locked"><p>Currently being read by <%= locked %></div><% } %>
					<div class="jazz"></div>
					<textarea <% if (locked) { %>disabled="disabled"<% } %>hint="Dictate report here..."></textarea>
				</div>
				<div class="row submit">
					<p class="autosave"></p>
					<div class="button-container"><a href="javascript:;" class="submit-button button"><% if (status == 'for-approval' ) { %>Approve</a><% } else { %>Submit Report</a><a href="javascript:;" class='button button-options arrow-up'></a><% } %></div>
				</div>
			</form>

		</div>
	</div><!-- current-report -->
	<div class="col dynamic-content">

		<div class="container"><div class="helper"><p>Drag a scanned document or a prior here to view.</p></div>
		</div><!-- container -->
		<div class="droppable"><div class="border"></div></div>

	</div><!-- dynamic content -->
	<div class="col patient-history">
		<div class="content">

			<div class="timeline row">
				<h2>Timeline</h2>
			</div>
		</div>

	</div><!-- patient-history -->
</div>