<div id="exam-<%= id %>" class="exam">



	<div class="current-report col">
		<div class="content">
			<!-- <div class="dashboard">


				<p class="exam_class"><%= exam_class %></p>
				<br /><br />

				<div class="follow">
					<a href="javascript:;" class="follow-button button" ><div class="text"><span>Follow</span></div></a>
					<p class="helper">You will be alerted when the images finish coming in.</p>
				</div>
				<p class="risks">Risks: <%= patient_risks %></p>


			</div> -->
			<div class="patient row">
				<div class="col">
					<h2><%= name %></h2>
					<p class="patient-id"><span>Patient ID:</span><%= patient_id %></p>
					<p class="dob"><span>Date of Birth:</span><%= dob %></p>
					<p class="gender"><span>Gender:</span><%= gender %></p>
					<!-- <p class="risk"><span>Risk:</span><%= patient_risks %></p> -->
				</div>
				<div class="col">
					<p class="reason-header"><span>Reason for exam:</span></p>
					<p class="reason"><%= clinical_indication %></p>
				</div>
			</div>
			<div class="currents row">
				<div class="accordion">

					<div class="pane">
						<div class="header">
							<h2><span><%= procedure_name %></span> Today at 14:03</h2>
							<div class="buttons">
								<div class="scanned-documents">
									<a class="attachments">2</a>
									<ul class="scanned-documents-dropdown">
										<li><a href="javascript:;" class="draggable">RequestForm.png</a></li>
										<li><a href="javascript:;" class="draggable">TechNotes.png</a></li>
									</ul>
								</div>




								<a class="pacs" alt="View images"></a>
							</div>
						</div>
						<div class="content">
							<p class="accession-number">Accession #: 3910</p>
							<h3 class="procedure-information">Procedure Information</h3>
							<table>
								<thead>
									<tr>
										<td>Consumables Description</td>
										<td>Quantity</td>
										<td>Unit Average Cost</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>MRI Contrast Media-Gadolinium</td>
										<td>1 Per ml</td>
										<td>10</td>
									</tr>
									<tr>
										<td>Needle</td>
										<td>1 Piece</td>
										<td>6</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- pane -->
					<div class="pane">
						<div class="header">
							<h2><span>CR R Arm</span> Today at 9:03</h2>
							<div class="buttons">
								<div class="scanned-documents">
									<a class="attachments">2</a>
									<ul class="scanned-documents-dropdown">
										<li><a href="javascript:;" class="draggable">RequestForm.png</a></li>
										<li><a href="javascript:;" class="draggable">TechNotes.png</a></li>
									</ul>
								</div>


								<a class="pacs" alt="View images"></a>
							</div>
						</div>
						<div class="content">
							<p class="accession-number">Accession #: 3911</p>
							<h3 class="procedure-information">Procedure Information</h3>
							<table>
								<thead>
									<tr>
										<td>Consumables Description</td>
										<td>Quantity</td>
										<td>Unit Average Cost</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>MRI Contrast Media-Gadolinium</td>
										<td>1 Per ml</td>
										<td>10</td>
									</tr>
									<tr>
										<td>Needle</td>
										<td>1 Piece</td>
										<td>6</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- pane -->
				</div><!-- accordion -->

				<div class="actions">
					<a href="javascript:;" class="follow">Follow case</a>
					<a href="javascript:;" class="folder">Add to folder</a>
					<a href="javascript:;" class="community-of-caregivers">Related Caregivers</a>

				</div>
			</div><!-- currents -->



			<form class="row dictation">
				<div class="row">
					<div class="jazz"></div>
					<textarea hint="Dictate report here..."></textarea>
				</div>
				<div class="row submit">
					<p class="autosave"></p>
					<input type="button" value="Submit Report" />
				</div>
			</form>

		</div>
	</div><!-- current-report -->
	<div class="col dynamic-content">

		<div class="container">
		</div><!-- content -->
		<div class="droppable"><div class="border"></div></div>

	</div><!-- dynamic content -->
	<div class="col patient-history">
		<div class="content">

			<div class="timeline row">
				<h2>Timeline</h2>
			</div>
		</div>

	</div><!-- patient-history -->
</div>